
    h1 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       }

       [class*="col-"] {
        background-color: #ffffff;
        border: 2px solid #e5e3e393;
        margin-top: 2px;
        line-height: 50px;
        text-align: center;
      }
      .row{
        background-color: rgb(255, 255, 255);
      }
      .container, .container-fluid {
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: rgb(255, 255, 255);
      }

      div{
        text-align: left;
      }
      
h6{
  text-align: right;
  color: black;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

a{
  text-decoration: none;
}
