
h3 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
  text-align: left;
}
      
h6{
  text-align: right;
  color: black;
}

a{
  text-decoration: none;
}
