/* #formulaireComplet{
    background-color: white;
} */

.ligneFormulaire{
    margin: 0;
}

.ligneFormulaire input{
    width: 50%;
    justify-content: end;
}

#messageTextArea{
    height: 200px;
}

