#headerContainer *{
    margin: 0;
    padding: 0;
}

#mcdontHeaderLogo{
    width: auto;
    height: auto;
}

H1, h2{
    color: #395C28;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 24px;
    text-align: justify;
}

#headerContainer, #menuContainer, #barreNavigationTop, #barreNavigationBottom, #menuFooter a{
    padding: 0px;
    margin: 0;
}

.navbar{
    background-color: #395C28;
}

.navbar a{
    border-radius: 5px;
}

.navbar a.active{
    /* font-size: larger; */
    background-color: rgba(71, 114, 50, 1);
}

ul.navbar-nav a:hover { 
    color: #477232;
    background-color: rgb(240, 213, 133);
    /* font-size: larger; */
}

/* MODAL */
/* Position globale sur la droite de l'affichage */
.modal.right #userProfilePanel
{
    position: fixed;
    margin: auto;
    right: 0px;
    height: 100%;
}

/* Utilise la hauteur totale de l'affichage */
.classtest.right #userProfileContent
{
    height:100%;
}

/* Apparence des composants */
.userProfileButton{
    color: white;
    background-color: #A94F4F;
}

.userProfileButton:hover{
    color: white;
    background-color: #A94F4F;
}

/* SECONDE TENTATIVE MODAL SLIDE */
/* classtest = come-from-modal */
.classtest.right .modal-dialog{
    width:320px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.classtest.right.fade .modal-dialog{
    right: -320px;
    -webkit-transition: right 0.3s ease-in;
    -moz-transition: right 0.3s ease-in;
    -o-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
}

.classtest.right.fade.in .modal-dialog {
    right: 0;
}