/* CAROUSEL */
#accrocheBlock{
    background-color: rgba(255, 255, 255, .4);
    border-radius: 20px;
    color: black;
    position: absolute;
    bottom: 33%;
    margin : auto
}

#accrocheBlock h5{
    font-size: 3rem;
}

#accrocheBlock p{
    font-size: 2rem;
}

#blockIndicateur{
    margin: 0 5% 0 5%;

}

#ongletIndicateur{
    flex : 1 0 auto;
    height:5px;
}

/* Contenu de Tout le Site */
#contenuDePage{
    background-color: rgba(232, 222, 107, .3);
    padding: 10px;
    margin: 0;
}

#titreDePage{
    background:rgb(232, 222, 107); 
    color:rgb(91, 132, 82);
    font-weight:bold;
    text-align: center;
    width: auto;
    border-radius: 10px;
}

