/* CAROUSEL */
#accrocheBlock{
    background-color: rgba(255, 255, 255, .4);
    border-radius: 20px;
    color: black;
    position: absolute;
    bottom: 33%;
    margin : auto
}

#accrocheBlock h5{
    font-size: 3rem;
}

#accrocheBlock p{
    font-size: 2rem;
}

#blockIndicateur{
    margin: 0 5% 0 5%;

}

#ongletIndicateur{
    flex : 1 0 auto;
    height:5px;
}


